@import 'base.less';
* {
    font-weight: 300 !important;
    font-family: 'PingFang SC', 'Microsoft YaHei', 'San Francisco', 'Helvetica Neue', Helvetica, Arial, 'Hiragino Sans GB', sans-serif;
	font-smoothing: antialiased;
}
